.THIS .uiInputDateTime .datePicker-openIcon {
    position: absolute;
    left: 44%;
    top: 55%;
}

.THIS .uiInputDateTime .timePicker-openIcon {
    position: absolute;
    left: 95%;
    top: 55%;
}